<%= form_with(model: preference, html: {novalidate: true, class: 'row g-3 align-items-center needs-validation'}) do |form| %>
  <div class="col-auto">
    <div class="input-group has-validation">
      <%= form.text_field :color, required: true, class: 'form-control' %>

      <% if preference.errors.any? %>
        <div class="invalid-feedback">
          <%= preference.errors.full_messages.join %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-auto">
    <%= form.submit class: 'btn btn-sm btn-primary' %>
    <%= link_to preference do %>
      <button class="btn btn-sm">Cancel</button>
    <% end %>
  </div>
<% end %>
