<p id="notice"><%= notice %></p>

<%= turbo_stream_from @current_user %>

<h1>Preferences</h1>

<div class="row">
  <div class="col-md-6">
    <%= turbo_frame_tag 'preferences' do %>
      <%= render @preferences %>
    <% end %>

    <%= render 'new_preference_link' %>
  </div>

  <div class="col-md-6">
    <div data-controller="colors">

      <div data-colors-target="choice"></div>

      <%= turbo_frame_tag 'search', src: search_preferences_path do %>
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      <% end %>

    </div>
  </div>
</div>
